.wrapper {
  width: 100%;
  height: 100%;

  .row {
    height: 100%;
  }

  #clientframe {
    width: 100%;
    height: 100%;
  }

  .header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 15px;
    font-weight: bold;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);

    p {
      margin: 0;
    }
  }

  .iframe-holder {
    width: calc(100% - 420px);
  }

  .app-side-view {
    position: relative;
    width: 420px;
    display: flex;

    .side-content {
      position: absolute;
      z-index: 5;
      height: 100%;
      left: 0;
      right: 50px;
      border-left: 1px solid rgba(51, 51, 51, 0.1);

      .dom-tree-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 4;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: #f8f6f7;
        transform: translate3d(100%, 0, 0);
        transition: transform 0.15s ease-out;

        &.active {
          transform: translate3d(0, 0, 0);
        }

        .dom-tree {
          flex: 1;
          padding: 15px 15px 30px;
          margin-top: 55px;
          overflow: auto;
        }
      }

      .side-view {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;

        .draggables-holder {
          flex: 1;
          display: flex;
          padding: 15px;
          margin-top: 55px;

          .component {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            border: 1px solid #e4e2e3;
            background-color: #f8f6f7;
            font-family: serif;
            font-size: 1.5em;
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;

            + .component {
              margin-left: 10px;
            }
          }
        }

        .dom-tree {
          flex: 1;
          padding: 15px 15px 30px;
          margin-top: 55px;
          overflow: auto;
        }
      }
    }

    .side-nav {
      position: fixed;
      right: 0;
      width: 50px;
      background-color: #36344c;
      height: 100%;
      z-index: 10;

      div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        width: 50px;
        height: 50px;
        padding: 0 5px;
        border: 0;
        border-radius: 0;
        white-space: normal;
        font-size: 1.5em;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;

        &:hover,
        &.active {
          background-color: #504d70;
          color: #ffffff;
        }
      }
    }
  }
}

.reserved-drop-marker {
  width: 100%;
  height: 2px;
  background: blue;
  margin: 0;
}